.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.mr-10 {margin-right:10px;}
.pr-10 {padding-right: 10px;}
.ml-10 {margin-left: 10px;}
.pl-10 {padding-left: 10px;}
.mt-5 {margin-top: 5px;}
.mb-5 {margin-bottom: 5px;}
.block {display: block;}
.deploy-btn {
    width: 400px;
    text-align: center;
}

.controls.error .control-label,
.controls.error .help-block,
.controls.error .help-inline {
  color: #b94a48;
}

.controls.error .checkbox,
.controls.error .radio,
.controls.error input,
.controls.error select,
.controls.error li,
.controls.error textarea {
  color: #b94a48;
}

.controls.error input,
.controls.error select,
.controls.error li,
.controls.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.controls.error input:focus,
.controls.error select:focus,
.controls.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}