.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.mr-10 {margin-right:10px;}
.pr-10 {padding-right: 10px;}
.ml-10 {margin-left: 10px;}
.pl-10 {padding-left: 10px;}
.ast {
    width: 150px;
    text-align: right;
    padding-top: 5px;
}
.deploy-btn {
    width: 350px;
    text-align: center;
}